.backgrand-review {
    background-color: #FAFAEB;
    height: 200vh;
    font-family: 'Mitr', sans-serif;
}

.font {
    color:#6AB7D6;
    padding: 30px;
    margin-top: 0px;
    
    
}
.Text{
    text-align-last: left;
    font-size :40px;
    color:#6AB7D6;
    padding: 20px 30px;
    
    
}
.Tao{
    margin-bottom : 30px ;
    margin-left : 0px ;
    margin-right : 0px ;
    margin-top : 0px;
    
}
.avt1{
    margin-bottom : 30px ;
    margin-left : 10vw ;    
    margin-right : 0px ;
    margin-top : 0px;
    
}
/* .Teen{
    margin-bottom : 0px ;
    margin-left : auto ;
    margin-right : 0px ;
    margin-top : auto;
    
} */

.bankgroud-review {
    background-color: #FAFAEB;
    height: 100vh;
    
}

.form{
    
    margin-left: 1em;
    margin-right: 1em;       
}
.fname {
    width: 50vw;
    
   
}
input[type=text1] {  
  padding: 12px ;
  margin: 8px 0;
  /* display: inline-block; */
  width: 90vw;
  /* border: 1px solid #ccc; */
  border-radius: 4px;  
  /* box-sizing: border-box; */
  
}

input[type=text2] {  
    padding: 12px ;
    margin: 8px 0;
    /* display:flex; */
    width: 90vw;
    /* border: 1px solid #ccc; */
    border-radius: 4px;
    /* box-sizing: border-box; */
  }

input[type=text3] {  
    padding: 12px ;
    margin: 8px 0;
    width: 90vw;   
    /* display:inline-flex; */
    /* border: 1px solid #ccc; */
    border-radius: 4px;
    /* box-sizing: border-box; */
  }


input[type=submit] {
    width: 100%;    
    background-color: #7bcaff;
    color: white;
    padding: 14px 18px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Mitr', sans-serif;
    
  }
.box-ii {
    display: flex;
    padding: 12px;
}

.box-iii {    
    margin-left: 20px;
}

.box-review {
    position: fixed;
    top: 68vh;
    background-color: #6AB7D6;
}

/* .box-textre{
    width: 100vw;
} */

@media (max-width:440px){
    .box-review {
        position: fixed;
        top: 69vh;
        background-color: #6AB7D6;
    }
    input[type=submit] {
        width: 100%; 
    }
    .avt1{
        margin-bottom : 30px ;
        margin-left : 25px ;    
        margin-right : 0px ;
        margin-top : 0px;
        
    }
}

@media (max-height:899px){
    .box-review {
        position: fixed;        
        margin-bottom: 0;
        background-color: #6AB7D6;
    }
}

/* @media (max-height:670px){
    .box-review {
        position: fixed;
        top: 60vh;
        background-color: #6AB7D6;
    }
} */