.pics {
    display: flex;
    width: 40%;
    /* height: 60vh; */
    margin-left: 30%;
}

.pics img {
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 20px;
}

.container img {
    width: 50%;
    height: auto;
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 20px;
    align-items: center;
}

.hotel-form,
.meal-form,
.info-form {
    padding: 0px 30px;
    font-size: 20px;
    color: var(--primary);
    font-family: 'Mitr', sans-serif;
}

.btn-booking,
.btn-back {
    font-size:1.7rem;
    background-color: #6AB7D6;
    color:#fff;
    padding:.5rem 2rem;
    text-decoration: none;
    border-radius: .5rem;
    float: right;
    font-family: 'Mitr', sans-serif;
    margin-right: 15px;
}

.packname {
    color: var(--primary);
    padding: 6px 20px;
    margin-top: 10px;
    font-family: 'Mitr', sans-serif;
}

.description {
    color: var(--primary);
    padding: 6px 20px;
    margin-top: 10px;
    font-size: 20px;
    font-family: 'Mitr', sans-serif;
}

select{
    font-size:  20px;;
    color: #6AB7D6;
    font-family: 'Mitr', sans-serif;
    box-sizing:content-box;    
    margin-bottom: 10px;
}

.topic{
    color:#6AB7D6;    
    font-family: 'Mitr', sans-serif;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 10px;
}

.price-booking {
    color:#6AB7D6;    
    font-family: 'Mitr', sans-serif;
    font-size: 1.7rem;
    padding: 0;
    margin: 0;
}

.backgrand-status2{
    height: 320vh;
    width: 100vw;
    background-color: #FAFAEB;
}

.box-book-back{
    /* max-height: 100vh;
    max-width: 100vw; */
    background-color: #FAFAEB;
}

.additional,
.person{
    padding: .5rem 1rem;
    margin: 0;
    color:rgb(68, 68, 68);     
    font-family: 'Mitr', sans-serif;
}

.person {
    margin-bottom: 20px;
}

/* .col-xs-2 {
  max-height: 100px;
} */



@media (max-width:1200px){   
    .pics {
        width: 80%;
        height: 40vh;
        margin-left: 10%;
    }
    .container img {
        width: 70%;
        height: auto;
    }
}

@media (max-width:960px){
    .container img {
        width: 80%;
        height: auto;
    }
}

@media (max-width:480px){   
    .pics {
        width: 80%;
        height: 30vh;
        margin-left: 10%;
    }

    .container img {
        width: 100%;
        height: auto;
    }

    .btn-booking,
    .btn-back {
        font-size:1.2rem;
        background-color: #6AB7D6;
        color:#fff;
        padding:0.5rem 2rem;
        text-decoration: none;
        border-radius: .5rem;
    }

    .backgrand-status2{
        height: 260vh;
        width: 100vw;
        background-color: #FAFAEB;
    }
}