.upload {
    /* font-family: sans-serif; */
    text-align: center;
    background-color: #fafaeb;
    height: 70vh;
    
  }
  .next-app{
    display: flex; 
    justify-content: space-between;  
    padding-left: 50px; 
    padding-right: 50px;
    padding: 2rem;
    margin-bottom: 50px;
    padding-top: 0;
    background-color: #fafaeb;
    height: 100px;   
}

.upload {
  padding: auto;
  
  
}
.text{
  padding: 2rem;
  font-size: 2rem;
  /* font-family: 'Source Sans Pro', sans-serif; */
  color: #6AB7D6;
  font-family: 'Mitr', sans-serif;
}

.back-payment a{
    font-size:1.5rem;
    background-color: #6AB7D6;
    color:#fff;
    padding:0.5rem 2rem;
    text-decoration: none;
    border-radius: .5rem;
}

@media (max-width:440px){ 

  .back-payment a{
    font-size:1.2rem;
  }

  
}
